/* 
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
   */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

html {
    max-width : 1000px;; /* Cambiado para que se adapte mejor en pantallas pequeñas */
    margin: 0 auto;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding: 30px;
}

strong {
    color: #287086;
}

nav {
    background-color: #287086;
    margin: 0 auto;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0; /* Asegúrate de que no haya padding en el ul */
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #96C0D0;
    color: black;
}

.active {
    background-color: #96C0D0;
    color: black;
}

.card {
    border: 1px solid gainsboro;
    border-radius: 15px; /* Redondea solo los extremos de arriba */
    box-shadow: 0px 0px 12px gainsboro; /* Agrega una sombra del mismo color que el borde */
}


.content {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr; /* Cambiado para una sola columna en móviles */
    gap: 20px;
}

.card1 p {
    text-align: left;
}

/* Grid de la primera tarjeta */
.grid2 {
    display: grid;
    grid-template-columns: 1fr; /* Por defecto en móviles */
    gap: 10px;
    padding: 18px;
}

.section {
    background-color: #287086;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px 15px 0 0 ;
}

.image-container {
    padding: 10px;
}

.image-container img {
    width: 150px; 
    height: auto;
}

h3{
    text-align: left;
}
.resources {
    list-style-type: none;
    margin: 20px; /* Menor margen superior */
}

footer{
    background-color: #287086;
    color: #fff;
    padding: 10px;
}


/* Media Queries para pantallas más grandes */
@media (min-width: 640px) {
    .content {
        grid-template-columns: 2fr 1fr; /* Dos columnas en pantallas medianas */
    }

    .grid2 {
        grid-template-columns:  1fr 1fr; /* Dos columnas para el grid en card1 */
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 auto; /* Flexibilidad para los elementos del menú */
    }

    nav a {
        padding: 10px;
    }

    .image-container {
        text-align: center; /* Centrar la imagen en pantallas pequeñas */
    }
    
    .image-container img {
        width: 200px; /* Ajustar el ancho de la imagen */
        height: auto; /* Mantener la relación de aspecto */
    }
    
    .image-container city{
        grid-column: 1;
        
    }

    .secondp{
        text-align: left;
        grid-column: 2;
    }
}
