:root {
    --color-1: #73ACDF; /* Color azul */
    --color-2: white; /* Color blanco */
    --color-3: #F6B50E; /* Color amarillo */
}


body {
    font-family: "Roboto", sans-serif;
    max-width: 980px;
    margin: 0 auto;
}

header {
    background-color: var(--color-1);
    padding: 20px 40px;
}

h1 {
    color: var( --color-2);
    text-align: center;
}

.spacer {
    padding: 2px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-image img {
    width: 100%;
    height: auto;
}

h2 {
    display: grid;
}

h2 img {
    width: 120px;
    margin-bottom: -10px;
}

.info-section {
    background-color: var( --color-2);
    text-align: center;
    margin-bottom: 3px;
}

footer {
    margin-top: 2px;
    background-color: var(--color-1);
    text-align: center;
    color: var( --color-2);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .spacer {
        background-color: var(--color-3);
    }

    main {
        background-color: var(--color-3);
        position: relative;
    }

    .info-section {
        margin: 0;
        opacity: 0.8;
        text-align: center;
        width: 250px;
    }

    h2 {
        background-color: var(--color-3);
        color: white;
        margin-left: -5px;
        width: 140px;
        opacity: 1;
        font-size: 1.3rem;
        padding: 10px;
    }

    .data-info {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .data-info h2 {
        text-align: left;
    }

    .weather-info {
        position: absolute;
        right: 20px;
        bottom: 350px;
    }

    h2 img {
        display: none;
    }

    footer {
        margin-top: 0;
    }

   
}
